<div class="p-4">
  <div
    role="tablist"
    class="tabs tabs-border flex items-center gap-[10px] cursor-pointer"
  >
    <a
      role="tab"
      class="tab tab-link"
      [ngClass]="activeTab === 'all' ? 'link-active' : ''"
      (click)="setTab('all')"
      >All</a
    >
    <a
      role="tab"
      class="tab tab-link"
      (click)="setTab('favorites')"
      [ngClass]="activeTab === 'favorites' ? 'link-active' : ''"
      >Favorites</a
    >
    <a
      role="tab"
      class="tab tab-link"
      (click)="setTab('frequent')"
      [ngClass]="activeTab === 'frequent' ? 'link-active' : ''"
    >
      Top used</a
    >
  </div>

  <div
    class="cliapboard-list flex flex-col gap-[10px] py-[10px]"
    cdkDropList
    [cdkDropListData]="items"
    (cdkDropListDropped)="onDrop($event)"
  >
    <app-clipboard-item
      *ngFor="let item of items; let i = index; trackBy: trackById"
      [item]="item"
      cdkDrag
      [cdkDragData]="item"
      [attr.data-id]="item.id"
      (toggleFavorite)="toggleFavorite($event)"
      (hideText)="hideText($event)"
      (copy)="copyText($event)"
      (delete)="deleteItem($event)"
    ></app-clipboard-item>
  </div>
</div>
